.round-image {
    width: 200px; 
    height: 200px;
    border-radius: 50%;
    border: 2px solid #000; 
    box-shadow: 0 0 0 5px #000;
    margin-bottom: 50px;
}

.outlined-box {
    background-color: #ccc;
    width: 200px;
    height: auto;
    border: 2px solid #000;
    padding: 10px;
    margin: 10px;
}
 
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.form-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.form-container select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    font-weight: bold;
}

input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #17bb2d;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
